---
layout: default
---

<div class="text-center mb-12">
  <h1 class="text-4xl font-bold text-gray-800 dark:text-white mb-4">
    About Me
  </h1>
</div>

<div
  class="relative md:mr-25 md:ml-25 bg-white dark:bg-gray-800 rounded-l-lg rounded-r-lg shadow-lg overflow-hidden mb-6"
>

  <div
    class="prose dark:prose-invert prose-lg max-w-none text-gray-700 dark:text-gray-200"
  >
<div class="max-w-4xl mx-auto px-4 py-10">
    
<article class="max-w-4xl mx-auto px-4 sm:px-6 py-8">
  <!-- Profile Image -->
  <div class="flex justify-center mb-6">
    <img
      src="/assets/img/my.png"
      alt="Rokhimin Wahid"
      class="rounded-full shadow-lg object-cover"
      width="130"
      height="130"
    />
  </div>

  <!-- Introduction -->
  <h3 class="text-2xl font-bold text-center text-gray-800 dark:text-white mb-4">
    Introduction
  </h3>

  <p class="text-gray-700 dark:text-gray-300 leading-relaxed mb-4 text-center">
    Hi.. nama saya whdzera, saya seorang programmer berusia 19 tahun. Saya selalu memiliki semangat untuk belajar tentang teknologi, terutama web programming. Saya suka membuat hal-hal baru dan bekerja dengan orang lain, karena tidak ada hal menarik yang benar-benar dibangun sendirian.
  </p>

  <p class="text-gray-700 dark:text-gray-300 leading-relaxed mb-4 text-center">
    Filosofi kerja saya adalah bahwa komunikasi dan kolaborasi dengan pengembang lain serta kenyamanan tim adalah kunci dari keberhasilan sebuah proyek. Bahasa pemrograman hanyalah alat (gunakan alat yang tepat untuk pekerjaan yang tepat), dan saya selalu berusaha untuk belajar hal baru. Saya menganggap diri saya sudah berada pada tingkat lanjutan saat ini.
  </p>

  <!-- Tech Interest -->
  <div class="mt-8">
    <h3 class="text-xl font-semibold text-gray-800 dark:text-white mb-2">
      Technology Interest:
    </h3>
    <ul class="grid grid-cols-1 sm:grid-cols-2 gap-x-4 gap-y-2 text-gray-700 dark:text-gray-300 list-disc list-inside">
      <li>Programming Language (Ruby, JavaScript)</li>
      <li>Backend Framework (Ruby on Rails, Sinatra, Hanami)</li>
      <li>JS Framework (Stimulus.js)</li>
      <li>CSS Framework (Bulma, Tailwind)</li>
      <li>VCS Git (GitHub)</li>
      <li>Container (Docker)</li>
      <li>Generative AI (ChatGPT, Claude)</li>
    </ul>
  </div>
</div>
</article>
</div>
</div>
