---
layout: default
---

<div class="text-center mb-12">
  <h1 class="text-4xl font-bold text-gray-800 dark:text-white mb-4">
    My Projects
  </h1>
  <p class="text-gray-600 dark:text-gray-300 mx-auto max-w-2xl">
    Kumpulan proyek yang saya buat, baik itu untuk belajar maupun untuk digunakan secara komersil atau pribadi.
  </p>
</div>

<!-- Post Grid -->
<div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:mx-24 mb-6">
  <!-- Kitsu -->

  <div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg overflow-hidden">
    <a
      href="{{ '/projects/kitsu' | relative_url }}"
      data-controller="thumbnail"
    >
      <div class="w-full h-48 overflow-hidden rounded-t-lg">
        <img
          src="../assets/img/kitsu-manga.png"
          alt="Kitsu-manga"
          data-thumbnail-target="image"
          class="w-full h-48 object-cover transition duration-300 ease-in-out rounded-lg"
        />
      </div>
    </a>

    <div class="p-3">
      <div
        class="flex items-center text-sm text-gray-500 dark:text-gray-400 mb-1"
      >
      </div>

      <h3
        class="text-2xl font-bold text-gray-800 dark:text-white hover:text-primary transition-colors"
      >
        <a href="https://github.com/rokhimin/kitsu-manga">Kitsu Manga</a>
      </h3>
      <p class="text-gray-600 dark:text-gray-300">
        Website membaca Manga / Komik yang dibangun dengan Ruby on rails.
      </p>
    </div>
  </div>

  <!-- Atem -->

  <div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg overflow-hidden">
    <a href="{{ '/projects/atem' | relative_url }}" data-controller="thumbnail">
      <div class="w-full h-48 overflow-hidden rounded-t-lg">
        <img
          src="../assets/img/atem.png"
          alt="Atem-bot"
          data-thumbnail-target="image"
          class="w-full h-48 object-cover transition duration-300 ease-in-out rounded-lg"
        />
      </div>
    </a>

    <div class="p-3">
      <div
        class="flex items-center text-sm text-gray-500 dark:text-gray-400 mb-1"
      >
      </div>

      <h3
        class="text-2xl font-bold text-gray-800 dark:text-white hover:text-primary transition-colors"
      >
        <a href="https://atem.whdzera.my.id">Atem bot</a>
      </h3>
      <p class="text-gray-600 dark:text-gray-300">Bot Discord, Telegram dan Whatsapp untuk mencari kartu Yu-Gi-Oh!.</p>
    </div>
  </div>
</div>
